# Dependencias y artefactos
node_modules/
dist/
.angular/
out-tsc/
*.tsbuildinfo

# Ambiente
.env
.env.local

# Editores
.vscode/*
!.vscode/extensions.json
.idea/

# Sistema
.DS_Store
Thumbs.db
npm-debug.log*
